.qualEAMusica {
  color: white;
  font-family: ComicZine;
  font-weight: 500;
  font-size: 2rem;

}

.qualEAMusicaWrapper {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
